body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    height: 100vh;
    color: #333; 
    background-image: url('tapeta.jpg');
    background-size: cover;
    background-position: center;
}

.countdown-container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

h1 {
    font-size: 28px;
    margin-bottom: 20px;
}

p {
    font-size: 24px;
    margin-bottom: 10px;
}

.progress-text {
    font-size: 20px;
    font-style: italic;
}

.sun-moon-icons {
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-top: 10px; 
}

.sun-moon-icons img {
    width: 40px;
    height: 40px;
    margin: 0 10px; 
    cursor: pointer;
}

.footer {
    margin-top: auto;
    text-align: right;
    padding: 10px;
    font-size: 14px; 
    color: #666;
}

.copyright {
    display: flex;
    align-items: center; 
    font-size: 14px; 
}

.cc-icons img {
    width: 20px; 
    height: 20px; 
    margin-left: 5px; 
}
